{% extends "layouts/base.html" %}
{% load mathfilters %}

{% block title %} Budget {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <table class="table">
                        <tr>
                            <th>
                                <button title="Add new transaction"
                                        class="btn btn-primary pull-center"
                                        type="submit">
                                    Add transaction
                                </button>
                            </th>
                            <th>
                                <button title="Edit transaction"
                                        class="btn btn-primary pull-center"
                                        type="submit">
                                    Edit transaction
                                </button>
                            </th>

                            <th>
                                <div class="input-group">
                                    <input autocomplete="off"
                                           title="Search transaction"
                                           placeholder="Search"
                                           type="text"
                                           value class="form-control">
                                </div>
                            <th>
                                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                    <i class="material-icons">search</i>
                                    <div class="ripple-container"></div>
                                    <div class="ripple-container"></div>
                                </button>
                            </th>
                            </th>
                        </tr>
                    </table>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <tr>
                                <th>
                                    <input type="checkbox" data-column="checkbox" aria-checked="false"
                                           aria-label="All transactions">
                                </th>
                                <th>Date</th>
                                <th>Payee</th>
                                <th>Category</th>
                                <th>Description</th>
                                <th>Outflow</th>
                                <th>Inflow</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
