{% extends "layouts/base.html" %}
{% load mathfilters %}

{% block title %} Budget {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <a href="{% url "budget_select" prev_month.year prev_month.month|stringformat:"02d" %}">
        <button class="btn btn-primary btn-round">&lt;</button>
    </a>
    {{ view.kwargs.year }}-{{ view.kwargs.month }}
    <a href="{% url "budget_select" next_month.year next_month.month|stringformat:"02d" %}">
        <button class="btn btn-primary btn-round">&gt;</button>
    </a>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">Your budget</h4>
                    <p class="card-category"> A list of your activities
                        in {{ view.kwargs.year }}-{{ view.kwargs.month }}</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                            <tr>
                                <th>Category</th>
                                <th>Budgeted</th>
                                <th>Activity</th>
                                <th>Available</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for details in object_list %}
                                {% if details.1 %}
                                    <tr>
                                        <td class="h3 text-primary">{{ details.0.subcategory.category.name }}</td>
                                    </tr>
                                {% endif %}
                                <tr>

                                    <td>{{ details.0.subcategory.name }}</td>
                                    <td>{{ details.0.budgeted_amount }}</td>
                                    <td>{{ details.0.activity }}</td>
                                    {% if details.0.available < 0 %}
                                        <td class="negative-activity">
                                    {% else %}
                                        <td class="positive-activity">
                                    {% endif %}
                                    {% if details.0.available == None %}
                                        {{ details.0.budgeted_amount }}
                                        </td>
                                    {% else %}
                                        {{ details.0.available }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
