{% extends "layouts/base.html" %}

{% block title %}- Profile Page {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">{{ user.username }} - Profile</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Username</label>
                                <input type="text" class="form-control" disabled value="{{ request.user.username }}">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">Email address</label>
                                <input type="email" class="form-control" disabled value="{{ request.user.email }}">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">Date joined</label>
                                <input type="email" class="form-control" disabled
                                       value="{{ request.user.date_joined }}">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div>
                        <ul>
                            <li><a href="{% url 'email_change' user.id %}" class="text-primary">Change email</a>
                            </li>
                            <li><a href="{% url 'password_change' %}" class="text-primary">Change password</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}