{% extends "layouts/base.html" %}
{% load mathfilters %}

{% block title %} Reports - TEST {% endblock %}

<!-- Specific Page CSS goes HERE  -->

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

    <a href="{% url "reports_select" prev_month.year prev_month.month|stringformat:"02d" %}">
        <button class="btn btn-primary btn-round">&lt;</button>
    </a>
    {{ view.kwargs.year }}-{{ view.kwargs.month }}
    <a href="{% url "reports_select" next_month.year next_month.month|stringformat:"02d" %}">
        <button class="btn btn-primary btn-round">&gt;</button>
    </a>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">Charts for your budget</h4>
                    <p class="card-category">in {{ view.kwargs.year }}-{{ view.kwargs.month }}</p>
                </div>

<!-- Some test below commented. It's temporary. -->
{#                <div class="row">#}
{#                    <div class="col-sm">#}
{#                        <h3>TOTAL BUDGETED: <b>{{ object_list.2 }}</b></h3>#}
{#                        <h3>TOTAL EXPENSES (ACTIVITY): <b>{{ object_list.1 }}</b></h3>#}
{#                        <h3>TOTAL AVAILABLE: <b>{{ object_list.2|sub:object_list.1 }}</b></h3>#}
{#                    </div>#}
{#                    <div class="col-sm">#}
{#                        <div id="chart_indicator"></div>#}
{#                    </div>#}
{#                </div>#}

{#                    {% for details in object_list.0 %}#}
{#                        {% with a=details.budgeted|sub:details.activity %}#}
{#                            {% if a < 0 %}#}
{#                                {{ details.subcategory.name }}#}
{#                                {{ a }}#}
{#                                <br>#}
{#                            {% endif %}#}
{#                        {% endwith %}#}
{#                    {% endfor %}#}


                <div class="card-body">
                    <div id="chart_div" style="height: 1000px"></div>

                    <div class="row">
                        <div class="col-sm">
                            <div id="donutchart_budgeted" style="width: 800px; height: 800px;"></div>
                        </div>
                        <div class="col-sm">
                            <div id="donutchart_expenses" style="width: 800px; height: 800px;"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock content %}





<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script>
        $(document).ready(function () {
            // Javascript method's body can be found in assets/js/demos.js
            md.initDashboardPageCharts();

        });
    </script>

<!-- Some test below commented. It's temporary. -->
{#    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>#}
{#    <script type="text/javascript">#}
{#        google.charts.load('current', {'packages': ['gauge']});#}
{#        google.charts.setOnLoadCallback(drawChart);#}
{##}
{#        function drawChart() {#}
{##}
{#            var data = google.visualization.arrayToDataTable([#}
{#                ['Label', 'Value'],#}
{#                ['Use of the budget', {{ object_list.1 }}],#}
{#            ]);#}
{##}
{#            var options = {#}
{#                width: 800, height: 240,#}
{#                greenFrom: 0, greenTo: {{ object_list.2 }},#}
{#                max: {{ object_list.2}},#}
{#                redFrom: {{ object_list.2}}, redTo: {{ object_list.2|add:5000 }}#}
{#            };#}
{##}
{#            var chart = new google.visualization.Gauge(document.getElementById('chart_indicator'));#}
{##}
{#            chart.draw(data, options);#}
{#        }#}
{#    </script>#}


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', {
            packages: ['corechart', 'bar']
        });
        google.charts.setOnLoadCallback(drawAxisTickColors);

        function drawAxisTickColors() {
            var data = google.visualization.arrayToDataTable([
                ['Amount', 'Budgeted amount', 'Expenses (Activity)'],
                {% for details in object_list.0 %}
                    ['{{ details.subcategory.name }}', {{ details.budgeted_amount }}, {{ details.activity }}],
                {% endfor %}
            ]);

            var options = {
                title: 'BUDGETED AMOUNTS VERSUS EXPENSES',
                titleTextStyle: {fontSize: 20},
                chartArea: {
                    width: '50%'
                },
                hAxis: {
                    minValue: 0,
                    textStyle: {
                        bold: true,
                        fontSize: 12,
                        color: '#4d4d4d'
                    },
                    titleTextStyle: {
                        bold: true,
                        fontSize: 18,
                        color: '#4d4d4d'
                    }
                },
                vAxis: {
                    title: 'Categories',
                    textStyle: {
                        fontSize: 14,
                        bold: true,
                        color: '#848484'
                    },
                    titleTextStyle: {
                        fontSize: 14,
                        bold: true,
                        color: '#848484'
                    }
                }
            };
            var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", {packages: ["corechart"]});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Subcategory name', 'Budgeted amount'],
                {% for details in object_list.0 %}
                    ['{{ details.subcategory.name }}', {{ details.budgeted_amount }}],
                {% endfor %}
            ]);

            var options = {
                title: 'BUDGETED AMOUNTS',
                titleTextStyle: {fontSize: 20},
                backgroundColor: {fill: 'transparent'},
                {#pieHole: 0.3,#}
                pieSliceText: 'value',
            };

            var chart = new google.visualization.PieChart(document.getElementById('donutchart_budgeted'));
            chart.draw(data, options);
        }
    </script>


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", {packages: ["corechart"]});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Subcategory name', 'Expenses'],
                {% for details in object_list.0 %}
                    ['{{ details.subcategory.name }}', {{ details.activity }}],
                {% endfor %}
            ]);

            var options = {
                title: 'EXPENSES (ACTIVITY)',
                titleTextStyle: {fontSize: 20},
                backgroundColor: {fill: 'transparent'},
                pieHole: 0.3,
                pieSliceText: 'value',
            };

            var chart = new google.visualization.PieChart(document.getElementById('donutchart_expenses'));
            chart.draw(data, options);
        }
    </script>


{% endblock javascripts %}
