{% extends "layouts/base.html" %}
{% load mathfilters %}

{% block title %} Transactions {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


    <div class="reports">

    <div class="col-12 col-sm-6 col-xl-4 mb-4">
        <div class="card border-light shadow-sm">
            <div class="card-body">
                <h2>Reports</h2>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card bg-yellow-alt shadow-sm">
                    <div class="card-header d-flex flex-row align-items-center flex-0">
                        <div class="d-block">
                            <div class="d-flex ml-auto">
                                <a class="h3 mr-2"
                                   href="{% url "reports_select" prev_month.year prev_month.month|stringformat:"02d" %}">
                                    <i class="fas fa-chevron-left"></i>
                                </a>
                                <div class="h3">
                                    {{ view.kwargs.year }}-{{ view.kwargs.month }}
                                </div>


                                <a class="h3"
                                   href="{% url "reports_select" next_month.year next_month.month|stringformat:"02d" %}">
                                    <i class="fas fa-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card border-light shadow-sm">
                <div class="card-body">

                    Hej hej to są raporty. Testuję wyświetlanie danych z queryset'u.
                    <br>

                    {% for category in object_list %}
                        <br>
                        {{ category.name }}

                        {% for subcategory in category.subcategories.all %}
                            <br>
                            >>> {{ subcategory.name }} {{ subcategory.details.last.budgeted_amount }} // ACTIVITY=
                            {{ subcategory.activity }}
                        {% endfor %}
                    {% endfor %}

                </div>

            </div>
        </div>
    </div>





{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
