{% extends "layouts/base.html" %}
{% load mathfilters %}

{% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">Current month categories</h4>
                    <p class="card-category"> A list of your activities in {% now "F" %}</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <tr>
                                <th>Category name</th>
                                <th>Subcategory name</th>
                                <th>Budgeted</th>
                                <th>Available</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for details in object_list %}
                                <tr>
                                    <td>{{ details.subcategory.category.name }}</td>
                                    <td>{{ details.subcategory.name }}</td>
                                    <td>{{ details.budgeted_amount }}</td>
                                    <td>{{ details.budgeted_amount|sub:details.activity }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
